
  
<div class="mainContainer">
    <h1>Employees</h1>
    <div>
        <button routerLink="/addU" mat-raised-button color="primary">Create</button>
    </div>
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">Email</th>
                <th scope="col">Name</th>
                <th scope="col">Position</th>
                <th scope="col">Version</th>
                <th scope="col"></th>

            </tr>
        </thead>
        <tbody>
           
                <tr *ngFor="let item of data['employees']">
                    
                    <td>{{ item['email']}}</td>
                    <td>{{ item['name']}}</td>
                    <td>{{ item['position']}}</td>
                    <td>{{ item['version']}}</td>
                    <td><button mat-mini-fab (click)="AddToLocal(item.email)" routerLink="editU" color="basic" aria-label="Example icon button with a filter list icon">
                        <mat-icon>edit</mat-icon>
                      </button>
                      <button mat-mini-fab  (click)="DeleteUser(item)" color="warn" aria-label="Example icon button with a filter list icon">
                        <mat-icon>delete</mat-icon>
                      </button>                    
                    </td>

                      
                </tr>
        
        </tbody>
    </table>

    <h1>Relations</h1>
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">Boss</th>
                <th scope="col">Employee</th>
            </tr>
        </thead>
        <tbody>
           
                <tr *ngFor="let item of data['relations']">
                    
                    <td>{{ item['boss']}}</td>
                    <td>{{ item['employeeref']}}</td>
                </tr>
        
        </tbody>
    </table>
</div>
  